<div class="header" nz-row>
    <div nz-col nzSpan="4" nzOffset="3">
        <img src="../../../assets/logo.jpg" />
    </div>

    <div nz-col nzSpan="17">
    </div>
</div>


<div class="content" nz-row>
    <div nz-col nzSpan="4" nzOffset="3" class="transaction-form">
        <!-- transaction form -->
        <app-transaction-form></app-transaction-form>

    </div>

    <div nz-col nzSpan="1">
    </div>


    <div nz-col nzSpan="12" class="transaction-history">
        <!-- transaction history -->
        <app-transaction-history></app-transaction-history>
    </div>
</div>
