.history-header {
    padding: 5px;
    text-align: center;
    background-color: #0c8397;
    color: #d5e4e8;
}

.history-content {
    padding: 15px;
}

.history-table {
    width: 100%;
}
.history-search {
    padding: 10px 0px;
}

td {
    padding: 10px !important;
}
