.form-header {
  padding: 3px;
  text-align: center;
  background-color: #0c8397;
  color: #d5e4e8;
}

.form-wrap {
  width: 100%;
}
.form-transfer {
  padding: 10px 10px;
}
.form-btn {
  float: right;
  background-color: #ee7033;
  width: 120px;
  border: none;
}
